@define-color surface_1 #171c1f;
@define-color surface_2 #1b2023;
@define-color surface_3 #262b2d;
@define-color text #dfe3e6;
@define-color primary #8ad0ef;
@define-color secondary #b4cad5;
@define-color urgent #ffb4ab;
