@define-color surface_1 #201b13;
@define-color surface_2 #251f17;
@define-color surface_3 #2f2921;
@define-color text #ede0d4;
@define-color primary #f3bd6e;
@define-color secondary #ddc2a1;
@define-color urgent #ffb4ab;
