@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: @surface_1;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @surface_2;
}

/* Workspaces */
#workspaces {
    background: @surface_1;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
    opacity: 0.8;
}

#workspaces button {
    padding: 5px 10px;
    color: @surface_3;
    margin: 0 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @primary;
    background: @surface_2;
}

#workspaces button:hover {
    background: @surface_2;
    color: @text;
}

/* Window Title */
#window {
    color: @surface_1;
    opacity: 0.8;
}

/* Clock - Highlighted */
#clock {
    background-color: @primary;
    color: @surface_1;
    border-radius: 15px;
    padding: 0 15px;
    margin: 6px 10px 6px 10px;
    opacity: 1;
    font-weight: bold;
}

/* Common Module Style */
#battery,
#memory,
#temperature,
#backlight,
#network,
#custom-notification,
#tray {
    padding: 0 12px;
    color: @text;
    border-radius: 15px;
    background: @surface_1;
    opacity: 0.8;
    margin: 6px 3px;
}

/* Network Module */
#network {
    background-color: @primary;
    color: @surface_1;
}

#network.disconnected {
    background-color: @urgent;
}

/* Backlight Module */
#backlight {
    background-color: @primary;
    color: @surface_1;
}

/* Battery Module */
#battery {
    background-color: @primary;
    color: @surface_1;
}

#battery.charging,
#battery.plugged {
    background-color: @secondary;
    color: @surface_1;
}

#battery.critical:not(.charging) {
    background-color: @urgent;
    color: @surface_1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @surface_1;
    }
}

/* Memory Module */
#memory {
    background-color: @primary;
    color: @surface_1;
}

/* Temperature Module */
#temperature {
    background-color: @primary;
    color: @surface_1;
}

#temperature.critical {
    background-color: @urgent;
    color: @surface_1;
}

#pulseaudio {
    background-color: @primary;
    color: @surface_1;
    margin: 5px 10px;
    padding: 0 10px 0 15px;
    border-radius: 15px;
    opacity: 0.8;
}

/* Notification Module */
#custom-notification {
    background-color: @surface_1;
    color: @primary;
    font-size: 16px;
}

/* System Tray */
#tray {
    background-color: @surface_1;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-fan {
    background-color: @primary;
    color: @surface_1;
    padding: 0 12px;
    border-radius: 15px;
    margin: 6px 3px;
    min-height: 0;
    min-width: 0;
    opacity: 0.8;
}

/* Offline / Critical State */
#custom-fan.critical {
    background-color: @surface_1; /* Dark background for Offline */
    color: @urgent;               /* Pink text */
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}