@define-color surface_1 {{colors.surface_container_low.default.hex}};
@define-color surface_2 {{colors.surface_container.default.hex}};
@define-color surface_3 {{colors.surface_container_high.default.hex}};
@define-color text {{colors.on_surface.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color urgent {{colors.error.default.hex}};
